<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<% for(var i in record){ var item=record[i]; %>
	<div class="msg-item <%= (item.sender=='self'?' msg-item-self':'') %>" msg-type='<%=(item.type)%>' msg-content='<%=(item.content)%>'>
		<% if(item.sender=='self' ) { %>
			<i class="msg-user mui-icon mui-icon-person"></i>
		<% } else { %>
			<img class="msg-user-img" src="../images/logo.png" alt="" />
		<% } %>
		<div class="msg-content">
			<div class="msg-content-inner">
				<% if(item.type=='text' ) { %>
					<%=( item.content|| '&nbsp;&nbsp;') %>
				<% } else if(item.type=='image' ) { %>
					<img class="msg-content-image" src="<%=(item.content)%>" style="max-width: 100px;" />
				<% } else if(item.type=='sound' ) { %>
					<span class="mui-icon mui-icon-mic" style="font-size: 18px;font-weight: bold;"></span>
					<span class="play-state">点击播放</span>
				<% } %>
			</div>
			<div class="msg-content-arrow"></div>
		</div>
		<div class="mui-item-clear"></div>
	</div>
<% } %>





	<div class="msg-item msg-item-self" msg-type='' msg-content=''>
			<i class="msg-user mui-icon mui-icon-person"></i>
			<img class="msg-user-img" src="../images/logo.png" alt="" />
		<div class="msg-content">
			
			<div class="msg-content-arrow"></div>
		</div>
		<div class="mui-item-clear"></div>
	</div>
	</body>
</html>
