<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<% for(var i in record){ var item=record[i]; %>
	<div class="msg-item <%= (item.sender=='self'?' msg-item-self':'') %>" msg-type='<%=(item.type)%>' msg-content='<%=(item.content)%>'>
		<% if(item.sender=='self' ) { %>
			<i class="msg-user mui-icon mui-icon-person"></i>
		<% } else { %>
			<img class="msg-user-img" src="../images/logo.png" alt="" />
		<% } %>
		<div class="msg-content">
			<div class="msg-content-inner">
				<% if(item.type=='text' ) { %>
					<%=( item.content|| '&nbsp;&nbsp;') %>
				<% } else if(item.type=='image' ) { %>
					<img class="msg-content-image" src="<%=(item.content)%>" style="max-width: 100px;" />
				<% } else if(item.type=='sound' ) { %>
					<span class="mui-icon mui-icon-mic" style="font-size: 18px;font-weight: bold;"></span>
					<span class="play-state">点击播放</span>
				<% } %>
			</div>
			<div class="msg-content-arrow"></div>
		</div>
		<div class="mui-item-clear"></div>
	</div>
<% } %>





	<div class="msg-item msg-item-self" msg-type='' msg-content=''>
			<i class="msg-user mui-icon mui-icon-person"></i>
			<img class="msg-user-img" src="../images/logo.png" alt="" />
		<div class="msg-content">
			
		</div>
		<div class="mui-item-clear"></div>
	</div>
	</body>
</html>


<button onclick="openNewWebView()">Open New Web View</button>
		<button onclick="openNewChatView()">Open New Chat View</button>
		<button onclick="openNewChatPageView()">Open New ChatPage View</button>
		<button onclick="openChatView()">Open New ChatPage View</button>
		<div class="mui-row" style="width: 100%;padding-left: 20px;padding-right: 20px;padding-top: 10px;padding-bottom: 10px;">
			<div class="mui-col-sm-4">
				<img style="width:100px;height:100px;" src="images/01.png" />
			</div>
			<div class="mui-col-sm-4">
				<img style="width:100px;height:100px;" src="images/02.png" />
			</div>
			<div class="mui-col-sm-4">
				<img style="width:100px;height:100px;" src="images/03.png" />
			</div>
		</div>
		<div class="mui-row" style="width: 100%;padding-left: 20px;padding-right: 20px;padding-top: 10px;padding-bottom: 10px;">
			<div class="mui-col-sm-4">
				<img style="width:100px;height:100px;" src="images/04.png" />
			</div>
			<div class="mui-col-sm-4">
				<img style="width:100px;height:100px;" src="images/05.png" />
			</div>
			<div class="mui-col-sm-4">
				<img style="width:100px;height:100px;" src="images/06.png" />
			</div>
		</div>
		<div class="mui-row" style="width: 100%;padding-left: 20px;padding-right: 20px;padding-top: 10px;padding-bottom: 10px;">
			<div class="mui-col-sm-4">
				<img style="width:100px;height:100px;" src="images/07.png" />
			</div>
			<div class="mui-col-sm-4">
				<img style="width:100px;height:100px;" src="images/08.png" />
			</div>
			<div class="mui-col-sm-4">
				<img style="width:100px;height:100px;" src="images/09.png" />
			</div>
		</div>
				<div class="mui-row" style="width: 100%;padding-left: 20px;padding-right: 20px;padding-top: 10px;padding-bottom: 10px;">
			<div class="mui-col-sm-4">
				<img style="width:100px;height:100px;" src="images/10.png" />
			</div>
			<div class="mui-col-sm-4">
				<img style="width:100px;height:100px;" src="images/11.png" />
			</div>
			<div class="mui-col-sm-4">
				<img style="width:100px;height:100px;" src="images/12.png" />
			</div>
		</div>